@media screen and (max-width: 1280px) {
    #page2{
        height:150vh;
    }
    #page2-right h1{
        line-height:9vh;
        margin-top:32px;
        padding:0px;
    }
    #page2-left img{
        margin-top:20px;
        height:30%; 
    }
}

/* Medias queries para pantallas menores a 1200px */
@media screen and (max-width: 1200px) {


    #page2{
        height:100vh;
    }
    #page2-left img{
        margin-top:20px;
        height:30%; 
    }
    #page2-right img{
        position:relative;
        height:47vw;/*Modifica el tamaño de la imagen */
        margin-top:-9vw;
    }    
    #page4-left img{
        width:50vw;
        height:70%;
        object-fit:cover;
    }
    #page4-right p{
        font-size:1.9vw;
        font-family:domaine;
        width:37.1vw;
    }
    #page4{
        height:110vh;
        width:100vw;
    }
}
@media screen and (min-width: 1000px) {
    #page2{
        height:80vh;
    }
    #page2-right h1{
        line-height:5vh;
        margin-top:32px;
        padding:0px;
    }
    #page4-right p{
        font-size:1.9vw;
        font-family:domaine;
        width:36vw;
    }
    #page4{
        height:80vh;
        width:100vw;
    }
    #anda h1{
        font-size:65px;
        padding:36px;
    }
}
@media screen and (max-width: 912px) {
    
    #page2{
        height:70vh;
    }
    #page2-right {
        padding: 20px 15px; /* Añade un padding interno */
        margin: 0 auto; /* Centra el contenido */
    }
    #page2-left img{
        margin-top:20px;
        height:30%; 
    }
    #page2-right h1{
        line-height:4vh;
        margin-top:32px;
        padding:0px;
        font-size:6.5vw;
    }
    #page4{
        height:70vh;
        width:100vw;
    }
    #page4-right {
        padding-left: 5px; /* Reduce el padding interno a la izquierda */
        margin-left: 10px; /* Mueve todo el contenedor más hacia la izquierda */
    }
    #page4-right h4 {
        text-align: left; /* Alinea el título a la izquierda */
        margin-left: 40px; /* Asegúrate de que no haya margen adicional */
    }
    #page4-right p {
        margin-left: 0; /* Elimina cualquier margen adicional */
        text-align: justify; /* Justifica el texto para que sea más uniforme */
    }
}