@media screen and (min-width: 1920px) {
    #page1{
        /* height: 99vh; */
        width: 100vw;
        background-color: #C4BCB3;
        /* position: relative; */
        
    }
    #nav{
        height:105px;
        width:100%;
        display:flex;
        padding: 0 30px ;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #222;
    }
    #page2{
        height:110vh;
        width:100%;
        background-color: #C4BCB3;
        display:flex;/*organiza mejor sus elementos de forma horizontal*/
        align-items:center;
        justify-content:space-between;
        padding:35px 40px;/*Despega del lado superior y lado izquierdo el elemento*/
        position:relative;
        transform: translateY(100%); /* Inicialmente fuera de la vista */
        z-index:-2;
    }
    #page2-left{
        height:100%;
        padding-right:40px;/*Despega los elementos de cada una de las secciones exactamente donde se unen */
        width:18%;
        border-right: 1px solid #4b4b4b; 
    }
    #page2-right img{
        height:105%;/*Modifica el tamaño de la imagen */
        margin-top:-200px;
        object-fit:cover;
        width:48%;
    }
    #page2-right h1{
        font-family:canopee;
        padding: 5px; /* Añade un poco de padding dentro del h1 */
        box-sizing: border-box; /* Incluye el padding en el tamaño total del h1 */
        font-size: 100px;
        width:45%;
        margin-top:15px;
        font-weight:200;
        line-height:90px;
        letter-spacing:-1px;/*Propiedad para ajustar el espacio entre letras*/ 
    }
    
    #page3 h1{
        font-size:670px;
        font-weight:100;
        letter-spacing:-10px;
        background-color:#1C1C19;
        width:85%;
        max-width:40.5%; /* Limita el ancho máximo al 80% */
        color:#C4BCB3;
        margin-left:0.6%;
        padding:0 35px;
        line-height:580px;
        font-family:canopee;
    }
    #page3 img{
        height:1450px;
        position:absolute;
        top:-68%;
        right:39%;
    }
    #page4-left {
        width:33.5%;
        height:100%;
        border-right: 1px solid #4b4b4b; 
        padding: 60px 50px;
    }
    #page4-right {
        width:18%;
        height:100%;
        padding:200px 90px;    
    }
}
@media screen and (min-width: 1600px) {
    #page2{
        height:195vh;
        width:100%;
        background-color: #C4BCB3;
        display:flex;/*organiza mejor sus elementos de forma horizontal*/
        align-items:center;
        justify-content:space-between;
        padding:35px 40px;/*Despega del lado superior y lado izquierdo el elemento*/
        position:relative;
        transform: translateY(100%); /* Inicialmente fuera de la vista */
        z-index:-2;
    }
    #page2-left{
        height:100%;
        padding-right:40px;/*Despega los elementos de cada una de las secciones exactamente donde se unen */
        width:13%;
        border-right: 1px solid #4b4b4b; 
    }
    

}
